{% extends "home/layout.html" %}
{% load account socialaccount %}
{% block pagestyle %}

<style>
  #login-button {
    margin-bottom: 30px;
  }

</style>
{% endblock %}

{% block headerclass %}
<body id="reset_password">
<header class="navbar navbar-inverse normal" role="banner">

    {% endblock %}
    {% block content %}
    <div class="container">
        <div class="row header">
            <div class="col-md-12">
            </br>
                <img class="img-responsive" src="/static/img/papua.jpg" alt="Papua"/>
            </div>
        </div>
        <div class="row">
            <div class="container">

                <div class="row" style="padding:20px;">
                    {% if validlink %}
                    <h4>Please reset your password.</h4>
                    <!-- If the link is valid, display a confirmation page, else display an error message -->
                    <form role="form" action="." method="post">
                        {% csrf_token %}
                        <!-- CSRF token is rendered by Django in forms to avoid CSRF attacks -->

                        {% if form.non_field_errors %}
                        <p class="error">
                            {% for error in form.non_field_errors %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        </p>
                        {% endif %}
                        {% for field in form %}
                        <div class="form-group">
                            <label class="control-label">{{ field.label_tag }}</label>
                            <div></div>
                            {{ field }}
                            {% if field.errors %}
                            <p class="error">
                                {% for error in field.errors %}
                                <span class="help-inline">{{ error }}</span>
                                {% endfor %}
                            </p>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <input type="submit" class="btn btn-default" value="Submit"/>
                    </form>
                    {% else %} <!-- Since the confirmation link is invalid, display an error message -->
                        <h4> Invalid password reset link</h4>
                    {% endif %}
                    <div class="header">
                        <h4 class="text-muted">{{ form.user }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
{% endblock %}
